.App {
  display: flex;
  justify-content: center;
  margin-top: 33vh;
}

.drum-machine {
  position: relative;
}

#display {
  position: absolute;
  text-align: center;
  top: -3vh;
  width: 100%;
  background-color: rgb(208, 208, 208);
}

.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.drum-pad {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
