html {
  font-family: Verdana, Geneva, Tahoma, sans-serifa;
}
.App {
  display: flex;
  justify-content: center;
  margin-top: 33vh;
}

.drum-machine {
  position: relative;
}

#display {
  position: absolute;
  text-align: center;
  top: -5vh;
  width: 100%;
  padding: 5px 0;
  font-size: large;
  font-weight: bold;
}

.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.drum-pad {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}
.drum-pad.active {
  /* Estilos cuando el botón está activo (pulsado) */
  box-shadow: inset 0px 0px 10px rgba(117, 115, 114, 0.9); /* Efecto de sombra interna */
  transform: scale(0.95);
  transition: box-shadow 0.1s ease, transform 0.1s ease;
}
